Thumbs.db
*.obj
*.exp
*.scc
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.h
*_i.c
*_p.h
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.tmp
*.lib
.vs
[Bb]in
[Bb]uild
[Pp]ackages
[Dd]ebug*/
ipch
*.sbr
*.sdf
*.opensdf
obj/
publish/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
_UpgradeReport_Files*
UpgradeLog.XML